@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

#product1 {
  background-image: url(/img/produkt1-640.jpg);
}

#product2 {
  background-image: url(/img/produkt2-640.jpg);
}

#product3 {
  background-image: url(/img/produkt3-640.jpg);
}

#service1 {
  background-image: url(/img/usluga3-640.jpg);
}

#service2 {
  background-image: url(/img/usluga2-640.jpg);
}

#service3 {
  background-image: url(/img/usluga1-640.jpg);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  line-height: 10vh;
  font-size: 28px;
  -webkit-box-shadow: 0 0.1px 10px 0.1px gray;
          box-shadow: 0 0.1px 10px 0.1px gray;
}
.nav__menu {
  position: relative;
  display: none;
}
.nav__menu-btn {
  position: fixed;
  height: 4vh;
  top: 5vh;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(220, 220, 220, 0.5);
}
.nav__menu-item {
  display: block;
  font-size: 18px;
  line-height: 10vh;
  text-align: center;
  background-color: #eee;
  border: 4px solid #fff;
  cursor: pointer;
}
.nav__menu--visible {
  position: fixed;
  display: block;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.nav__logo-name {
  cursor: default;
}

.baner {
  position: relative;
  margin-top: 10vh;
  left: 0;
  right: 0;
  height: 30vh;
  z-index: -1;
}
.baner__element {
  position: relative;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-animation: baner 30s ease infinite;
          animation: baner 30s ease infinite;
}
.baner__first-el {
  top: 0;
  background-image: url(/img/firany1-640.jpg);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.baner__second-el {
  top: -100%;
  background-image: url(/img/firany2-640.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.baner__third-el {
  top: -200%;
  background-image: url(/img/firany3-640.jpg);
  background-position: bottom;
}

@-webkit-keyframes baner {
  10% {
    opacity: 1;
  }
  43.3% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
}

@keyframes baner {
  10% {
    opacity: 1;
  }
  43.3% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
}
.section {
  text-align: center;
  margin: 40px 10px 0;
}
.section--about {
  padding: 20px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0 0.1px 3px 0.1px gray;
          box-shadow: 0 0.1px 3px 0.1px gray;
}
.section__title {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px;
  line-height: 160%;
  border-bottom: 1px solid gray;
}
.section__description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 5px 0;
  line-height: 150%;
}
.section__img {
  margin: 30px 0;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.contact__title {
  font-weight: normal;
  margin: 10px 0 5px;
}
.contact__description {
  margin: 15px 0 15px;
}
.contact__map {
  width: 100%;
  height: 40vh;
  border: 0;
  border-radius: 10px;
}

.footer {
  margin-top: 30px;
  background-color: #eee;
  text-align: center;
  font-size: 10px;
  line-height: 250%;
}

html {
  scroll-behavior: smooth;
}

.site {
  max-width: 1200px;
  margin: 0 auto;
}

@media (orientation: landscape) and (max-width: 1023px) {
  .nav {
    height: 15vh;
    line-height: 15vh;
  }
  .nav__menu-btn {
    top: 7.5vh;
    height: 6vh;
    margin-right: 60px;
  }
  .nav__menu--visible {
    top: 15vh;
  }
  .nav__menu--visible-item {
    line-height: 17.5vh;
  }
  .baner {
    height: 50vh;
    margin-top: 15vh;
  }
  .section__title {
    margin-top: 20px;
    font-size: 32px;
  }
  .section__description {
    font-size: 20px;
  }
  .section__img {
    margin: 60px 0;
    height: 50vh;
  }
  .contact__map {
    height: 60vh;
  }
  .footer {
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  .nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    line-height: 10vh;
  }
  .nav__logo {
    width: 25%;
    -webkit-box-shadow: 0.1px -1.5px 10px 0.1px gray;
            box-shadow: 0.1px -1.5px 10px 0.1px gray;
  }
  .nav__menu {
    display: block;
    margin-left: 10px;
    width: 100%;
  }
  .nav__menu-btn {
    display: none;
  }
  .nav__menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    background-color: transparent;
  }
  .nav__menu-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 20px;
    line-height: 10vh;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .baner {
    height: 75vh;
    margin-top: 0;
  }
  .baner__first-el {
    background-image: url(/img/firany1-1280.jpg);
  }
  .baner__second-el {
    background-image: url(/img/firany2-1280.jpg);
  }
  .baner__third-el {
    background-image: url(/img/firany3-1280.jpg);
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper__element {
    height: 35vh;
    width: 49%;
  }
  .section__title {
    font-size: 38px;
  }
  .section__description {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 20px 10px;
    line-height: 210%;
  }
  .section__img {
    height: 50vh;
  }
  #product1 {
    background-image: url(/img/produkt1-1280.jpg);
  }
  #product2 {
    background-image: url(/img/produkt2-1280.jpg);
  }
  #product3 {
    background-image: url(/img/produkt3-1280.jpg);
  }
  #service1 {
    background-image: url(/img/usluga3-1280.jpg);
  }
  #service2 {
    background-image: url(/img/usluga2-1280.jpg);
  }
  #service3 {
    background-image: url(/img/usluga1-1280.jpg);
  }
  .contact__wrapper {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .contact__title {
    font-size: 26px;
    margin: 30px 0 25px;
  }
  .contact__description {
    font-size: 20px;
  }
  .contact__map {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 60vh;
  }
  .footer {
    font-size: 10px;
    line-height: 350%;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .site {
    margin: 0 30px;
  }
  .nav {
    font-size: 32px;
  }
  .nav__menu-btn {
    margin-right: 30px;
  }
  .nav__menu--visible {
    background-color: transparent;
  }
  .nav__menu--visible-item {
    font-size: 24px;
    line-height: 6vh;
    border: 3px solid white;
  }
  .section__title {
    font-size: 38px;
  }
  .section__description {
    font-size: 22px;
  }
  .section__img {
    margin: 40px 0;
  }
  .contact__title {
    font-size: 30px;
    margin-top: 20px;
  }
  .contact__description {
    font-size: 20px;
    margin: 20px 0;
  }
  .contact__map {
    height: 50vh;
  }
  .footer {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */