#product1 {
  background-image: url(/img/produkt1-640.jpg);
}
#product2 {
  background-image: url(/img/produkt2-640.jpg);
}
#product3 {
  background-image: url(/img/produkt3-640.jpg);
}
#service1 {
  background-image: url(/img/usluga3-640.jpg);
}
#service2 {
  background-image: url(/img/usluga2-640.jpg);
}
#service3 {
  background-image: url(/img/usluga1-640.jpg);
}
